In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("area.tsv", sep="\t")

In [3]:
df1.head()

         date  close
0  24-Apr-07   93.24
1  25-Apr-07   95.35
2  26-Apr-07   98.84
3  27-Apr-07   99.92
4  30-Apr-07   99.80

In [13]:
df1['date'] = df1['date'].str.strip()

In [15]:
type(df1['close'][0])

numpy.float64

In [16]:
df1['date'][0]

'24-Apr-07'

In [17]:
df1.to_csv("area_clean.tsv", sep="\t", index=None)

In [21]:
df2= pd.read_csv("browser_usage.tsv", sep="\t")

In [22]:
df2.columns

Index(['date', 'Google Chrome', 'Internet Explorer', 'Firefox', 'Safari',
       'Microsoft Edge', 'Opera', 'Mozilla', 'Other/Unknown'],
      dtype='object')

In [24]:
df2['date'] = df2['date'].str.strip()

In [25]:
df2.to_csv("browser_usage.tsv", sep="\t", index=None)